{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="mb-3">
        <input required autocomplete="off" class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock Symbol" type="text" autofocus> <!-- https://stackoverflow.com/a/59704469 -->
        <input required autocomplete="off" class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number" min="1" step="1" onkeyup="if(this.value<0){this.value= this.value * -1}">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}